<div class="container">
  <p>รายละเอียดหนังสือ</p>
  <div class="col-12">
    <div class="col-3">
      <img class="rounded"
        src="https://scontent.fbkk5-1.fna.fbcdn.net/v/t1.0-9/53385632_3647217865333438_7969240018759712768_n.jpg?_nc_cat=109&_nc_eui2=AeFNkrfO5a8PwEMi3xOOSn2-8f-MuDomK8rpGqLPJ_2hx9xiYg9SWzIClXXthodiePMeq_iJ0ERCOlODc-j3dM3J3J-uPg0S7s1DUteotSO42w&_nc_oc=AQmqmEV872EnjCzQQWNJEgo-w3wiWqyUYPPYL77FN6Zzy56rctaxRzvsCUxK7N9TADk&_nc_ht=scontent.fbkk5-1.fna&oh=0b8b405541bf7b08db132073ef9473ab&oe=5E5BD135"
        class="rounded float-left" width="200" height="200" alt="...">
    </div>
    <div class="col-9">
      <h3>ID: 48</h3>
      <h3>Name: Ratah</h3>
      <div class="row">
      <h3> Details: </h3>
      <p> ชื่อ-นามสกุล: รตา ชินกระจ่างกิจ / RATAH CHINKRAJANGKIT
        Date of birth : 27 Mar 2002
        Height : 156 cm
        Province : Chiang Mai
        Like : สีเหลือง เเมว อาหารที่กินได้
        Blood Group : A
        Hobby : เเต่งนิยาย เต้น cover </p>
      </div>
      <h3>Prices: NAN</h3>
      <button type="button" class="btn btn-warning">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
